.Main {
    display: flex;
    flex: 2 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 291px 0 312px;
    color: white;
}

.what_it_is{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    margin: 200px 0 0 0;
    height: max-content;
    align-content: stretch
}

.wts_card{
    width: 50%;
    color: white;
    vertical-align: middle;
    line-height: 1.5;
}

.text_head{
    font-size: 48px;
    font-weight: 700;
    margin: 69px 0 45px 0;
}

.fast_starting{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    margin: 200px 0 0 0;
    height: max-content;
    align-content: stretch;
}

.fs_head{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: max-content;
}

.icon_heading{
    margin: 0 0 0 -20px;
}

.fs_text_head{
    font-size: 48px;
    font-weight: 700;
    vertical-align: middle;
    margin: 30px 20px;
}

.fs_text{
    opacity: 0.5;
    margin: 20px 0 80px 5px;
}

.fs_table{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
}

.fs_table1{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: max-content;
    font-size: 36px;
    font-weight: 700;
	margin: 0 0 20px 0;
}

.fs_table2{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: 80;
}

.fs_table3{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: max-content;
    opacity: 0.5;
    padding: 0;
	margin: 0;
}

.fs_tab_item{
    box-sizing: inherit;
    width: 25%; 
}

.fs_tab_item1{
    box-sizing: inherit;
    width: 25%;
    height: 80px;
}

.fs_tab_item2{
    box-sizing: inherit;
    width: 25%; 
    height: 80px;
    padding: 10px 0;
}

.fs_tab_item3{
    box-sizing: inherit;
    width: 25%; 
    height: 80px;
    padding: 25px 0;
}

.fs_tab_item4{
    box-sizing: inherit;
    width: 25%; 
    height: 80px;
    padding: 27.5px 0;
}

.fs_tab_item5{
    box-sizing: inherit;
    width: 25%; 
    padding: 35px 20px 0 0;
}








