.MainScreen {
    display: flex;
    flex: 2 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 auto;
}

.Main_page{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    height: min-content;
    width: 100vw;
    color: white;
}

.Main_page_box{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    justify-content: flex-start;
    padding: 10% 16% 15% 16%;
    width: 100vw;
}

.Main_page_h{ 
    font-size: 64px;
    font-weight: 700;
    padding: 0 0 50px 0;
}

.Main_page_timer{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: max-content;
    width: 58%;
    justify-content: space-between;   
}

.Main_page_timer_item{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #121212;
    text-decoration: none;
    padding: 20px 30px;
}

.Main_page_timer_count{
    font-size: 36px;
    font-weight: 700;
}

.Main_page_timer_name{
    opacity: 0.4;
}

.Main_line{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    background-color: #121212;
    padding: 36px;
    width: 100vw;
    height: 130px;
    color:white;
}

.Main_line_button{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    justify-content: center;
}

.line_button{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
}

.line__button{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    width: 8,85%;
    height: 44px;
    border-color: none;
    
}

.line_table{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    padding: 0 81px;
    width: 413px;
    vertical-align: middle;
}

.Main_line_table1{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    width: 223px;
    opacity: 0.4;
}

.Main_line_table2{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    width: 28px;
    font-weight: 700; 
}

.table_item{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    height: 24px;
}

.center_line_bar{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: 10px;
    
}

.line_bar{
    display: inherit;
    flex-direction: column;
    box-sizing: inherit;
    width: 714px;
    
}

.line_bar_box{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    height: 24px;
    vertical-align: middle;
    margin: 0 0 8px 0;
}

.bar_box1{
    opacity: 0.4;
}

.bar_box2{
    font-weight: 700; 
    margin: 0 30px;
}

.line_bar_box2{
    display: inherit;
    flex-direction: row;
    box-sizing: inherit;
    justify-content: space-between;
    height: 24px;
    vertical-align: middle;
    margin: 5px 0 8px 0;
}

.bar_box3{
    opacity: 0.4;
    display: inherit;
}

.bar_box4{
    opacity: 0.4;
    display: inherit;
}

.pg_neeed{
    width: 440px;
    height: 6px;
    background-image: url(../../img/costline1.svg);
}

.pg_compleete{
    width: 274px;
    height: 6px;
    background-image: url(../../img/costline2.svg);
}

