.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.footer_box {
  width: 547px;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  height: max-content;
  justify-content: center;
  margin: 0 auto;
  font-style: normal;
  color: white;
}

.footer_item1 {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 30px 0;
}

.footer_item2 {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  justify-content: center;
  text-align: center;
  width: 411px;
  opacity: 0.5;
  margin: 0 auto 60px auto;
}

.footer_item3 {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  height: 44px;
  width: 492px;
  margin: 0 0 40px 0;
}

.footer_mail{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  background-image: url(../../img/footer_mail.svg);
  opacity: 0.25;
  justify-self: flex-start;
  height: 44px;
  width: 353px;
}

.footer_form_mail{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  margin: 11px 30px;
  border: 0;
  border-color: none;
  background: none;
  
}

.footer_button{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  background-image: url(../../img/footer_button.svg);
  justify-self: end;
  height: 44px;
  width: 160px;
  margin: 0 -30px 0 -30px;
  z-index: 4;
}

.footer_form_button{
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  margin: 11px 30px;
  border: 0;
  border-color: none;
  background: none;
  
}

.footer_item4 {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  justify-content: space-between;
  width: 290px;
  margin: 0 auto 40px auto;
}

.footer_icon {
  display: flex;
  flex-direction: row;
  box-sizing: inherit;
  background-image: url(../../img/footer_icon_ellipse.svg);
  height: 50px;
  width: 50px;
  justify-content: center;
}

.footer_link {
  display: flex;
  margin: auto;
}